/* yahoo reset css */

/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/* web form styles */

html  {

 font-family: Arial, Helvetica, sans-serif;

}

header {

  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  position: relative;
  font-size: 2em;
  color: #333399;
  background-color: #E0F2FF;

}

section {

  margin-left: 3em;
  margin-right: 3em;
  padding: 1em;

}

form {

   margin: 0 auto;
   padding: 1em;
   background-color: #FAFAFA;
   border: 1px solid #ddd;
   font-size: 1em;
   border-radius: 1em;

}

li  {

  margin-top: 1em;

}

h2 {

  font-weight: bold;

}

h3  {

   font-size: .85em;
   font-style: italic;

}

button, input, select, textarea {

  font-family : inherit;          /* uses same fonts as rest of page */
  font-size   : 100%;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For all Gecko based browsers */
          box-sizing: border-box;

}

input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #000000 0 0 5px 0;
  -moz-box-shadow: #000000 0 0 5px 0;
  box-shadow: #000000 0 0 5px 0;
  z-index: 1;
}

#login-button {

  background: #E0F2FF;
  color: #333399;

}

#submit  {

  background: #333399;
  color: #E0F2FF;

}
